nameplateCornerHeight = 32px;
nameplateBorderHeight = 2px;

.header__nameplate
{
    z-index: 3;
    font-size: 17px;
    line-height: nameplateCornerHeight - nameplateBorderHeight * 2;

    position: relative;

    display: inline-block;

    padding: 0 12px;

    white-space: nowrap;
    top: 4px;
    left: 8px;

    border: nameplateBorderHeight solid #fc0;
    border-right: 0;
    background: #fff;
    color: #000 !important;

    text-decoration: none;

    /*
     * "Клюв" стрелки имеет угол 120°, соотношение сторон — 1/4 (8px / 32px)
     * Делаем квадрат, поворачиваем на 45°, растягиваем и пропорционально увеличиваем толщину бордера
     */
    nameplateCornerScale = sin(45deg);
    nameplateCornerBorderHeight = round(nameplateBorderHeight / cos(30deg) * 2, 1);
    &:after
    {
        position: absolute;
        top: -(nameplateBorderHeight);
        left: 100%;

        width: nameplateCornerHeight;
        height: nameplateCornerHeight;

        content: '';

        transform: scale(round(nameplateCornerScale / 2, 3), round(nameplateCornerScale, 3)) rotate(45deg);
        transform-origin: 0 0;

        border-style: solid;
        border-color: #fc0 #fc0 #fff #fff;
        border-width: nameplateCornerBorderHeight nameplateCornerBorderHeight 0 0;
        background: #fff;
        box-sizing: border-box;
    }
}
