@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.header-section
  padding: $xxl
  border: 1px solid lighten($base, 80%)
  text-align: center
