@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.header-section
  padding: $xxl
  background: $project
  &_align_center
    text-align: center
  &_align_left
    text-align: left
    
