@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-comment__image
  background-image: url('/i/zuckerberg.jpg')
  background-repeat: no-repeat
  background-size: 100%
  width: 60px
  height: 60px
  position: absolute
  top: 24px
  left: 24px
