@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.event-tile__date
  text-align: center
  color: lighten($base, 60%)
  margin-bottom: $s
