@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-user-avatar
    width: 120px
    height: 120px
    margin-left: auto
    margin-right: auto
    margin-bottom: $xs
    background: url('/i/dastin.jpg')
    background-size: 100%
    border-radius: 50%
