@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-user-avatar
    width: 150px
    height: 150px
    margin-left: auto
    margin-right: auto
    margin-bottom: $s
    background-color: $project
