.text
  &_size
    &_xs
      font-size: 11px
    &_s
      font-size: 14px
    &_m
      font-size: 18px      
    &_l
      font-size: 24px
    &_xl
      font-size: 32px
  &_view
    &_base
      color: #000
    &_clear
      color: #fff
    &_project
      color: #ffdb4d
    &_link
      color: #44b
    &_alert
      color: #e61400
    &_active
      color: #060
  &_transform
    transform: uppercase