.text
  &_size
    &_xs
      font-size: 15px
    &_s
      font-size: 13px /* bem-components s-size */
    &_m
      font-size: 18px /* bem-components l-size */
    &_l
      font-size: 24px
    &_xl
      font-size: 32px

  &_view
    &_base
      color: #000
    &_clear
      color: #fff
    &_project
      color: #ffdb4d
    &_link
      color: #44b
    &_alert
      color: #e61400
    &_active
      color: #060

  &_weight
    &_bold
      font-weight: bold

  &_transform
    transform: uppercase
