@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.accet__image
  position: absolute
  top: $xs
  left: $xs
  height: 35px
  width: 35px
  overflow: hidden
  img
    width: 100%
