.news
  border-box: box-sizing
  position: relative
  padding: 24px
  background: #fff
  &:hover
    background: #ffeba0
  &__image
    background: #2e2e2e
    height: 60px
    width: 60px
    position: absolute
    left: 24px
    top: 24px
  &__content
    font-size: 14px
    line-height: 1.4em
    margin-left: 76px

.news-content
  &__date
    font-size: 14px
    line-height: 1.4em
    
  &__title
    font-size: 18px
    line-height: 1.4em
   
  &.__text
    font-size: 14px
    line-height: 1.4em
