.position
  box-sizing: border-box
  position: relative
  min-height: 60px
  background: #fff
  padding: 24px
  &:hover
    background: #ffeba0
  &__image
    position: absolute
    top: 24px
    left: 24px
    height: 60px
    width: 60px
    background: #ccc
    border-radius: 4px
  &__text
     font-size: 18px
     padding-left: 76px
     line-height: 1.4em
     height: 60px
     display: table-cell
     vertical-align: middle


     
  
