@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.codepen__link
  display: block
  padding: $s 0px
  opacity: .3
  &:hover
    opacity: .9
