@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.form
  box-sizing: border-box
  max-width: 420px
  background: #fff
  border: 1px solid #ccc
