@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.form-description
  text-align: center
  color: lighten($base, 60%)
  margin-top: $s
  line-height: 1.4em
