@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.space__image
  background: url('/i/space-bg.png')
  margin-bottom: $xs
  height: 96px
  width: 96px
  position: absolute
  top: 0px
  left: 0px
  &:hover
    background: url('/i/space-bg-hover.png')
