@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-group-tile__header
	box-sizing: border-box
	background-color: $project
	width: 100%
	min-height: 100px
	padding: $l
