@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-group-tile__header
	background-color: $project
	width: 100%
	min-height: 110px
	margin-bottom: $xl
