@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-group-tile__avatar
	position: absolute
	background: url('/i/facebookdesign.jpg') center no-repeat
	top: $xxl
	left: $xl
	width: 76px
	height: 76px
