@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.text
  &_size
    &_xs
      font-size: 13px
    &_s
      font-size: 15px /* bem-components s-size */
    &_m
      font-size: 18px /* bem-components l-size */
    &_l
      font-size: 24px
    &_xl
      font-size: 32px

  &_view
    &_base
      color: $base
    &_clean
      color: $clean
    &_project
      color: $project
    &_link
      color: $link
    &_alert
      color: $alert
    &_active
      color: $active
    &_normal
      color: $normal

  &_weight
    &_bold
      font-weight: bold

  &_transform
    &_uppercase
      text-transform: uppercase

  &_display
    &_block
      display: block
    &_inline-block
      display: inline-block
    &_inline
      display: inline

  &_align
    &_left
      text-align: left
    &_center
      text-align: center
    &_right
      text-align: right
