.space
  &_margin
    &_xxs
      margin: 4px
    &_xs
      margin: 8px
    &_s
      margin: 16px
    &_m
      margin: 24px
    &_l
      margin: 32px
    &_xl
      margin: 48px
    &_xxl
      margin: 96px
  &_margin-top
    &_xxs
      margin-top: 4px
    &_xs
      margin-top: 8px
    &_s
      margin-top: 16px
    &_m
      margin-top: 24px
    &_l
      margin-top: 32px
    &_xl
      margin-top: 48px
    &_xxl
      margin-top: 96px

  &_margin-right
    &_xxs
      margin-right: 4px
    &_xs
      margin-right: 8px
    &_s
      margin-right: 16px
    &_m
      margin-right: 24px
    &_l
      margin-right: 32px
    &_xl
      margin-right: 48px
    &_xxl
      margin-right: 96px
  &_margin-bottom
    &_xxs
      margin-bottom: 4px
    &_xs
      margin-bottom: 8px
    &_s
      margin-bottom: 16px
    &_m
      margin-bottom: 24px
    &_l
      margin-bottom: 32px
    &_xl
      margin-bottom: 48px
    &_xxl
      margin-bottom: 96px
  &_margin-left
    &_xxs
      margin-left: 4px
    &_xs
      margin-left: 8px
    &_s
      margin-left: 16px
    &_m
      margin-left: 24px
    &_l
      margin-left: 32px
    &_xl
      margin-left: 48px
    &_xxl
      margin-left: 96px
  &_padding
    &_xxs
      padding: 4px
    &_xs
      padding: 8px
    &_s
      padding: 16px
    &_m
      padding: 24px
    &_l
      padding: 32px
    &_xl
      padding: 48px
    &_xxl
      padding: 96px

  &_padding-top
    &_xxs
      padding-top: 4px
    &_xs
      padding-top: 8px
    &_s
      padding-top: 16px
    &_m
      padding-top: 24px
    &_l
      padding-top: 32px
    &_xl
      padding-top: 48px
    &_xxl
      padding-top: 96px

  &_padding-right
    &_xxs
      padding-right: 4px
    &_xs
      padding-right: 8px
    &_s
      padding-right: 16px
    &_m
      padding-right: 24px
    &_l
      padding-right: 32px
    &_xl
      padding-right: 48px
    &_xxl
      padding-right: 96px
  &_padding-bottom
    &_xxs
      padding-bottom: 4px
    &_xs
      padding-bottom: 8px
    &_s
      padding-bottom: 16px
    &_m
      padding-bottom: 24px
    &_l
      padding-bottom: 32px
    &_xl
      padding-bottom: 48px
    &_xxl
      padding-bottom: 96px
  &_padding-left
    &_xxs
      padding-left: 4px
    &_xs
      padding-left: 8px
    &_s
      padding-left: 16px
    &_m
      padding-left: 24px
    &_l
      padding-left: 32px
    &_xl
      padding-left: 48px
    &_xxl
      padding-left: 96px
