@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.color__text
  padding-left: 76px
  display: table-cell
  height: 60px
  vertical-align: middle
