@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-comment-answer__image
  width: 30px
  height: 30px
  float: left
  background-image url('/i/frankiegaw.jpg')
  background-repeat: no-repeat
  background-size: 100%
  margin-right: $xs
