@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.news__image
  width: 48px
  height: 60px
  position: absolute
  left: $s
  top: $s
