.document
  box-sizing: border-box
  position: relative
  min-height: 60px
  background: #fff
  padding: 24px
  &:hover
    background: #ffeba0
  &__image
    position: absolute
    top: 24px
    left: 24px
    height: 60px
    width: 60px
    background: #2e2e2e
    overflow: hidden
    img
      width: 100%
  &__content
     margin-left: 76px
     
.document-content
  &__title
    font-size: 18px
    margin-bottom: 8px
  &__text
    font-size: 14px