@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.evil-icon__image
  position: absolute
  top: 0px
  left: 0px
  height: 96px
  width: 96px
  background: $normal
  box-sizing: border-box
