@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.evil-icon__image
  .icon
    background: $clean
  position: absolute
  top: 0px
  left: 0px
  height: 102px
  width: 102px
  box-sizing: border-box
  background: url('/i/icon-bg.png')
  &:hover
    background: url('/i/icon-bg-hover.png')
