@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.promo
  padding: 96px 192px
  background: $clean
  border-top: $xxs solid $project
  margin-bottom: $l
  text-align: center
