@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.promo
  padding: 96px 192px
  background: lighten($project, 63%)
  margin-bottom: $l
  text-align: center
