.user
  box-sizing: border-box
  border-bottom: 1px solid #e5e5e5
  position: relative
  min-height: 60px
  background: #ffdb4d
  padding: 16px
  &__image
    border-radius: 50%
    overflow: hidden
    position: absolute
    top: 16px
    left: 16px
    height: 96px
    width: 96px
    background: #2e2e2e
    img
      width: 100%
  &__content
    display: table-cell
    padding-left: 114px
    height: 96px
    vertical-align: middle
     
.user-content
  display: inline
  &__name
    font-size: 18px
    margin-bottom: 8px
  &__position
    font-size: 14px
  
