@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-location-header__icon
    width: 25px
    position: absolute
    top: 11px
    right: 16px
