@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.partner-tile__icon
  width: 90px
  height: 90px
  border-radius: 50%
  background: $normal
  margin: 0 auto
  margin-bottom: $xs
