@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-image-box__icons
  border-radius: 3px
  margin-right: $xs
  float: left
  width: 50px
  height: 50px
  overflow: hidden
