@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.expert-info__name
  padding-left: 76px
  display: table-cell
  vertical-align: middle
  height: 60px
  line-height: 1.4em
