@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.event-tile__description
  line-height: 1.4em
  text-align: center
  margin-bottom: $s
