@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.event-tile__icon
  width: 90px
  height: 90px
  margin: 0 auto
  margin-bottom: $xs
  display: block
  border-radius: 3px
