@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.position__text
  padding-left: 76px
  line-height: 1.4em
  height: 60px
  display: table-cell
  vertical-align: middle
