@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.page-row
  box-sizing: border-box
  margin-bottom: $l
  padding-bottom: $l
  &:last-child
    border: none
