@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.page-row
  box-sizing: border-box
  margin-bottom: $xxl
  padding-bottom: $xxl
  &:last-child
    border: none
