.top-news
  box-sizing: border-box
  border-bottom: 1px solid #e5e5e5
  padding: 24px
  background: #ffdb4d
  &__date
    font-size: 18px
    margin-bottom: 8px
  &__text
    font-size: 14px
    line-height: 1.4em

     
  
