@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.avatar__text
  padding-left: 136px
  height: 136px
  display: table-cell
  vertical-align: middle
