@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-text-tile-share-list__item
  float: left
  margin-right: $xs
  &:last-child
    margin-right: none
