@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"


.color__image
  width: 60px
  height: 60px
  border-radius: 50%
  background: $project
  position: absolute
  top: 16px
  left: 0px
  &_color
    &_base
      background: #000
    &_active
      background: #070
    &_link
      background: #44b
    &_project
      background: #fc0
    &_alert
      background: #e00
    &_clean
      background: #fff
      border: 1px solid #f6f5f3
    &_normal
      background: #f6f5f3
