@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"


.color__image
  width: 60px
  height: 60px
  border-radius: 50%
  background: $project
  position: absolute
  top: 16px
  left: 0px
  &_color
    &_base
      background: $base
    &_l-base-18
      background: lighten($base, 18%)
    &_l-base-60
      background: lighten($base, 60%)
    &_l-base-80
      background: lighten($base, 80%)
    &_active
      background: $active
    &_link
      background: $link
    &_project
      background: $project
    &_l-project-63
      background: lighten($project, 63%)
    &_l-project-81
      background: lighten($project, 81%)
    &_alert
      background: $alert
    &_clean
      background: $clean
      border: 1px solid $normal
    &_normal
      background: $normal
    &_l-normal-86
      background: lighten($normal, 86%)
      border: 1px solid $normal
