@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.news
  border-box: box-sizing
  position: relative
  padding: $m
  background: $clean
  &:hover
    background: lighten($project, 81%)
