@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.mail__image
  position: absolute
  top: $s
  left: $s
  height: 60px
  width: 60px
  overflow: hidden
  img
    width: 100%
