@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-comment-textarea__image
  position: absolute
  top: 0
  left: 0
  background-image url('/i/frankiegaw.jpg')
  background-repeat: no-repeat
  background-size: 100%
  width: 36px
  height: 36px
