@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-user-tile
    border: 1px solid lighten($base, 80%)
    padding: $l
    position: relative
    text-align: center
