@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-comment-answer-list__answer
  margin-bottom: $s
  &:last-child
    margin-bottom: 0
