.form
  box-sizing: border-box
  max-width: 420px
  background: #fff
  border: 1px solid #e5e5e5
  &__header
    font-size: 24px
    padding: 24px
    text-align: center
    padding: 24px 24px 0px 24px
  &__content
    padding: 24px
  &__footer
    padding: 0px 24px 24px 24px

.form-ctrl
  &__item
    margin-bottom: 16px

.form-action
  &__item
    display: inline-block
    width: 50%
    &_align_left
        text-align: left
    &_align_right
       text-align: right
    
.form-link
  &__item
    margin-bottom: 16px
    display: inline-block
    width: 50%
    &_align_left
        text-align: left
    &_align_right
       text-align: right