@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-image-icon1
  background: url('/i/tobias.jpg')
  background-size: 100%
  float left
  width: 40px
  height: 40px
  border-radius: 3px
  margin-right: $xxs
