@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.top-news
  box-sizing: border-box
  padding: $s
  background: $clean
  &:hover
    background: lighten($project, 81%)
