@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-suggested-people-profile__action
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 0
