@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-comment-link
  position: relative
  padding-left: $m
  margin-right: $s
  float: left
