@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"


.space-image
  &_size
    &_xxl
      height: 96px
      width: 96px
      background: $project
    &_xl
      height: 48px
      width: 48px
      background: $project
    &_l
      height: 32px
      width: 32px
      background: $project
    &_m
      height: 24px
      width: 24px
      background: $project
    &_s
      height: 16px
      width: 16px
      background: $project
    &_xs
      height: 8px
      width: 8px
      background: $project
    &_xxs
      height: 4px
      width: 4px
      background: $project
