@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.social-comment-answer__image2
  position: absolute
  top: 0
  left: 0
  background-image url('/i/jalan.jpg')
  background-repeat: no-repeat
  background-size: 100%
  width: 34px
  height: 34px
  border-radius: 4px