@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.plan-price
  text-align: center
  line-height: 1.8em
  text-transform: uppercase
  margin-bottom: $xs


