@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-suggested-people-row
  position: relative
  padding: $s 0px 
  border-bottom: 1px solid lighten($base, 80%)
  &:first-child
    padding-top: 0px
  &:last-child
    border: none
    padding-bottom: 0px
