@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.social-suggested-people-row
  position: relative
  padding-bottom: $m
  margin-bottom: $m
  border-bottom: 1px solid lighten($base, 80%)
  &:last-child
    border: none
    margin-bottom: 0px
