@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"

.mail__content
  display: table-cell
  height: 35px
  vertical-align: middle
  padding-left: 76px
