@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.document
  box-sizing: border-box
  position: relative
  min-height: 60px
  background: $clean
  padding: $s
  &:hover
    background: lighten($project, 81%)
