@import "../../libs/bem-components/design/colors.styl"
@import "../../libs/bem-components/design/spaces.styl"

.icon--s
  width: 34px !important
  height: 34px !important

.evil-icon-image
  border-radius: 50%
  position: absolute
  top: 50%
  left: 50%
  svg
      fill: $project
  &_size
    &_l
      width: 100px
      height: 100px
      margin-top: -50px
      margin-left: -50px
    &_m
      width: 50px
      height: 50px
      margin-top: -24px
      margin-left: -24px
    &_s
      width: 34px
      height: 34px
      margin-top: -17px
      margin-left: -17px
