@import "../../../libs/bem-components/design/colors.styl"
@import "../../../libs/bem-components/design/spaces.styl"


.friend__content
  display: table-cell
  height: 60px
  vertical-align: middle
  padding-left: 76px
